/* Contenedor general */
#training {
    scroll-margin-top: 120px;
    margin-top: 200px;   
    padding: 20px 20px;
    background-color:#1e3a8a;
    border-radius: 10px;
    border-top: solid 2px rgb(17, 157, 189);
    border-bottom: solid 2px rgb(17, 157, 189);
    box-shadow: 0 -2px 10px rgb(17, 157, 189), 0 2px 10px rgb(17, 157, 189);
}

.training-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    font-weight: 700;
    color: white;
}

/* Flexbox principal */
.training-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

/* Tarjetas */
.training-card {
    background: white;
    width: 45%;
    min-width: 280px;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    gap: 15px;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform .2s ease, box-shadow .2s ease;
}

.training-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

/* Imagen */
.training-logo {
    width: 70px;
    height: auto;
    object-fit: contain;
}

/* Texto */
.training-info h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.training-info p {
    margin: 3px 0;
    font-size: 0.95rem;
    color: #555;
}

/* Responsivo */
@media (max-width: 768px) {
    .training-card {
        width: 100%;
    }
}